body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

/* ******************************************** */

.promo {
    margin: 0 auto;
    width: 1920px;
    height: 800px;
    background: url('../img/jpg/mainBG.jpg') 0 0 no-repeat;
    padding-top: 39px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 83px;
    height: 71px;
    margin-bottom: 14px;
}

.logo_text {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 53px;
}

.promo_header {
    margin: 0 auto;
    width: 878px;
    height: 190px;
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
}